<h1> Bookmark manager supreme </h1>
<form action="/bookmarks" method="get">
  <input type="submit" value='view bookmarks'>
</form>
<form action="/bookmarks/add" method="get">
<input type="submit" value='add bookmarks'>
</form>